<section *ngFor="let p of prod">
  <div class="row">
    <div class="col s12 m6">
      <div class="container">
        <h1>{{p.title}}</h1>
      </div>
      <div class="image-wrapper">
        <img src={{p.image}} class="responsive-img" />
      </div>
      <div class="desc-wrapper">
        <p>{{p.description}}</p>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="container">
        <h2>Add to Cart</h2>
      </div>
      <div class="divider"></div>
      <div class="quantity">
        <button class="btn waves-effect waves-light btn">+</button>
        <div class="input-field">
          <input  id="first_name" name="quantity" type="text" class="validate" />
        </div>
        <button class="btn waves-effect waves-light btn">-</button>
      </div>
      <div class="price">price : &#8360; {{p.price}} </div>
      <div class="submit">
        <button class="waves-effect waves-light btn">Add to cart</button>
      </div>
    </div>
  </div>
</section>
