<section>
  <div class="row">
    <div class="col s12 m6">
      <div class="container">
        <h1>Title</h1>
      </div>
      <div class="image-wrapper">
        <img src="https://images.unsplash.com/photo-1585399000684-d2f72660f092?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" class="responsive-img" />
      </div>
      <div class="desc-wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium unde ratione iusto, vel nesciunt voluptatibus laboriosam at dolorem voluptatem.</p>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="container">
        <h2>Add to Cart</h2>
      </div>
      <div class="divider"></div>
      <div class="quantity">
        <button class="btn waves-effect waves-light btn">+</button>
        <div class="input-field">
          <input  id="first_name" name="quantity" type="text" class="validate" />
        </div>
        <button class="btn waves-effect waves-light btn">-</button>
      </div>
      <div class="price">price : &#8360; 2500 </div>
      <div class="submit">
        <button class="waves-effect waves-light btn">Add to cart</button>
      </div>
    </div>
  </div>
</section>
