h1{
  margin-top: 16px;
  color: teal;
  font-size: 50px;
  font-weight: 5;
  font-family: monospace;
}

img {
  width: 400px;
  height: 300px;
}

.desc-wrapper {
  margin-top: 16px;
}

p{
  color: #272727;
  font-size: 22px;
  line-height: 1.6;
}

h2 {
  margin-top: 25px;
  font-size: 40px;
  font-weight: 500;
  font-family: monospace;
  text-align: center;
  color: teal;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

btn{
  margin-top: 25px;
}

.price {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
  font-family: monospace;
}

.submit {
  margin-top: 50px;
  align-items: center;
  text-align: center;
  padding: 10px;
}
