section {
  padding: 25px;
  margin-top: 60px;
  }

  .button {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  h1{
    text-align: center;
    font-size: 35px;
    color: tomato;
    font-weight: 500;
    margin-top: 30px;
  }
