h2{
  margin-top: 40px;
  font-size: 40px;
  font-weight: 500;
  color: peru;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  font-size: 24px;
  font-weight: 300;
  color: #272727;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
